App does not properly return "401 Unauthorized" in all cases (when no credentials are supplied)

**Describe the bug**
Some bookmarks app URLs, like `https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash`, when [HTTP basic auth](https://en.wikipedia.org/wiki/Basic_access_authentication) username/password are **not** provided, fail with `400 Bad request` instead of `401 Unauthorized`. 

That incorrect status code prevents clients connecting to nextcloud bookmarks app from retrying with username/password, as is suggested practice by [RFC 7235, section 4.2](https://www.rfc-editor.org/rfc/rfc7235#section-4.2).

That is especially important when client is behind certain proxies, which prohibit **unsolicited** (eg. auth sent before it was requested via `401` status code) HTTP basic auth for [security reasons](https://knowledge.broadcom.com/external/article/200712/what-is-the-http-header-bcsics-cookie-se.html). For in-depth discussion and experiments that led to this issue, see https://github.com/floccusaddon/floccus/discussions/960.

**To Reproduce**
Steps to reproduce the behavior:
1. open `https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash` URL
2. Note that data `{"status":"error","data":"Unauthorized"}` are accompanied with HTTP `400` instead of `401` [status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_client_errors).

**Expected behavior**
When any valid URL provided by nextcloud bookmarks app **which requires authentication** is accessed **without providing authentication** information (ie. without username/password), it should return  `401` HTTP status code.

Some of them already do so correctly (for example, `https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3` correctly returns `401 Unauthorized` in such case), but others do not (as noted at the top of this issue).

**Desktop (please complete the following information):**
 - OS: Debian Bullseye GNU/Linux
 - Browser: Firefox (but really any HTTP client, for example like `curl` or `wget`)
 - Version: 78.14.0esr

**Server (please complete the following information):**
 - OS: Debian Buster GNU/Linux
 - HTTP server: Apache 2.4.38-3+deb10u5 (but also reproduced with nginx)
 - Database: MariaDB 10.3.29-0+deb10u1
 - PHP version: 7.3.29-1~deb10u1
 - Nextcloud version: 20.0.12
 - Bookmarks app version:  4.4.1
 - Activated Nextcloud Apps: should not be related, but those are: activity: 2.13.4 , bookmarks: 4.4.1 , calendar: 2.3.2 , cloud_federation_api: 1.3.0 , contacts: 4.0.1 , contactsinteraction: 1.1.0 , dashboard: 7.0.0 , dav: 1.16.2 , federatedfilesharing: 1.10.2 , files: 1.15.0 , files_pdfviewer: 2.0.1 , files_sharing: 1.12.2 , files_trashbin: 1.10.1 , files_versions: 1.13.0 , files_videoplayer: 1.9.0 , logreader: 2.5.0 , lookup_server_connector: 1.8.0 , nextcloud_announcements: 1.9.0 , notifications: 2.8.0 , oauth2: 1.8.0 , ocsms: 2.2.0 , password_policy: 1.10.1 , phonetrack: 0.6.9 , photos: 1.2.3 , privacy: 1.4.0 , provisioning_api: 1.10.0 , settings: 1.2.0 , sharebymail: 1.10.0 , tasks: 0.14.1 , text: 3.1.0 , twofactor_backupcodes: 1.9.0 , updatenotification: 1.10.0 , user_status: 1.0.1 , viewer: 1.4.0 , weather_status: 1.0.0 , workflowengine: 2.2.0
 - Nextcloud external user backend: none

**Additional context**
As a quick workaround, editing `nextcloud/apps/bookmarks/lib/Controller/FoldersController.php` and replacing all 12 instances of:
  ```diff
  -  ['status' => 'error', 'data' => 'Could not find folder'], Http::STATUS_BAD_REQUEST);
  +  ['status' => 'error', 'data' => 'Could not find folder'], Http::STATUS_UNAUTHORIZED);
  ```
  made that `https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash` URL react with proper `401 Unauthorized` instead of `400 Bad request` when no username/password are provided; and thus it worked around this issue. Of course it should probably be fixed in a smarter way - thus this issue.

**Web server error log**
```
192.0.2.42 - - [25/Sep/2021:23:07:35 +0200] "GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash HTTP/1.1" 400 863 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0"
192.0.2.42 - - [25/Sep/2021:23:12:01 +0200] "GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3 HTTP/1.1" 401 6891 "-" "curl/7.74.0"
192.0.2.42 - - [25/Sep/2021:23:12:54 +0200] "GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash HTTP/1.1" 400 6852 "-" "curl/7.74.0"
```

**Nextcloud log (nextcloud/data/nextcloud.log)**
```
{"reqId":"j52yHjxKdHmuQ6BGYdWZ","level":0,"time":"2021-09-25T21:12:01+00:00","remoteAddr":"192.0.2.42","user":"--","app":"contacts","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}
{"reqId":"j52yHjxKdHmuQ6BGYdWZ","level":0,"time":"2021-09-25T21:12:01+00:00","remoteAddr":"192.0.2.42","user":"--","app":"files_sharing","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}
{"reqId":"j52yHjxKdHmuQ6BGYdWZ","level":0,"time":"2021-09-25T21:12:01+00:00","remoteAddr":"192.0.2.42","user":"--","app":"ocsms","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}

{"reqId":"SIwJ9fV72lDuDFTjjPsR","level":0,"time":"2021-09-25T21:12:54+00:00","remoteAddr":"192.0.2.42","user":"--","app":"contacts","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}
{"reqId":"SIwJ9fV72lDuDFTjjPsR","level":0,"time":"2021-09-25T21:12:54+00:00","remoteAddr":"192.0.2.42","user":"--","app":"files_sharing","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}
{"reqId":"SIwJ9fV72lDuDFTjjPsR","level":0,"time":"2021-09-25T21:12:54+00:00","remoteAddr":"192.0.2.42","user":"--","app":"ocsms","method":"GET","url":"/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBootstrap on the application class instead.","userAgent":"curl/7.74.0","version":"20.0.12.1"}
```

**Browser log**
```
% curl -v --anyauth -u user:apppassword  "https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3" 2>&1 | egrep '>|< HTTP'

> GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3 HTTP/1.1
> Host: nextcloud.example.org
> User-Agent: curl/7.74.0
> Accept: */*
> 
< HTTP/1.1 401 Unauthorized

> GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/bookmark?page=0&limit=3 HTTP/1.1
> Host: nextcloud.example.org
> Authorization: Basic xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
> User-Agent: curl/7.74.0
> Accept: */*
> 
< HTTP/1.1 200 OK
```
```
% curl -v --anyauth -u user:apppassword  "https://nextcloud.example.org/nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash" 2>&1 | egrep '>|< HTTP'

> GET /nextcloud/index.php/apps/bookmarks/public/rest/v2/folder/-1/hash HTTP/1.1
> Host: nextcloud.example.org
> User-Agent: curl/7.74.0
> Accept: */*
> 
< HTTP/1.1 400 Bad request
```
